// Font Weight variables 
$fw-light:300;
$fw-medium:500;
$fw-bold:700;
$fw-extra-bold:800;


//Color Variables
$bg-gradient: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
$bg-gradient-darker: linear-gradient(90deg, #430b57 1.18%, #9913c9 100%);
$color-white:white;
$color-black:black;